.news{
  height: 100%;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2srem;
  padding: 5rem .5rem;
}
.news__img{
  background: url(../../assets/will_listenbourg.png) no-repeat center;
  background-size: 100%;
  height: 15rem;
  width: 35%;
  min-width: 300px;
  
}
.news__article{
  width: 60%;
  text-align: left;
  min-width: 400px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1rem;
}
.news__article__title{
  font-size: 2.5rem;
  
}
.news__article__text{
  color: #333;
  font-size: 1.2rem;
}
.news__article__link{
  font-weight: 700;
  font-size: 1rem;
  line-height: 23px;
  color: #333;
  text-decoration: none;
}
.news__article__btn{
  background-color: #F7C429;
  border-radius: 7px;
  color: #1c1c1c;
  text-align: center;
  border: none;
  font-weight: 700;
  box-shadow: 0 3px 6px #00000029;
  padding: 0.9375rem 1.875rem;
  text-decoration: none;
  font-size: 1.3rem;
}