@font-face {
  font-family: SourceSansPro;
  font-weight: 900;
  src: url(./assets/Source_Sans_Pro/SourceSansPro-Black.ttf) format("truetype");
}
@font-face {
  font-family: SourceSansPro;
  font-weight: 700;
  src: url(./assets/Source_Sans_Pro/SourceSansPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  src: url(./assets/Source_Sans_Pro/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: SourceSansPro;
  font-weight: 200;
  src: url(./assets/Source_Sans_Pro/SourceSansPro-Light.ttf) format("truetype");
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: SourceSansPro ,Helvetica, Arial, sans-serif;
}

@import './components/Header/header.css';
@import './components/Banner/banner.css';
@import './components/Footer/footer.css';
@import './components/Main/main.css';
@import './components/Welcome/welcome.css';
@import './components/News/News.css';
@import './components/Beyond/beyond.css';

.App {
  text-align: center;
}
